.contact {
  &__container {
    width: 100vw;
    background-color: $BgGray;

    margin-top: 30px;

    @include mq-up('md') {
      margin-top: 70px;
    }
  }

  &__body {
    position: relative;
    max-width: 1090px;
    margin: 0 auto;
    padding-left: 20px;
    padding-right: 20px;
  }
  &__img {
    width: 224px;
    height: 178px;
    background-image: url(../../../img/mainVisual.svg);
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    top: 32px;
    right: 20px;

    @include mq-range('md') {
      width: 224 * 2px;
      height: 178 * 2px;
    }

    @include mq-up('md') {
      width: 567px;
      height: 452px;
    }
  }

  &__ttl {
    text-align: left;
    font-size: 2rem;
    padding-top: 200px;
  }

  &__txt {
    text-align: left;
    margin-top: 46px;
    line-height: 2;
  }

  &__btn {
    margin-top: 43px;
    margin-bottom: 58px;

    @include mq-up('md') {
      margin-top: 69px;
      margin-bottom: 203px;
    }
  }
}
