.s-service__container {
  display: flex;
  flex-direction: column;
  counter-reset: number 0;

  @include mq-up("md") {
    margin-top: 62px;

    & > :first-child {
      margin-top: 0;
    }
  }
}
.service {
  margin-top: 100px;
  margin-bottom: 20px;
  @include mq-up("md") {
    margin-top: 147px;
  }

  &__inner {
    @include mq-up("md") {
      display: flex;
      justify-content: space-between;
    }
  }

  &__thumb {
    @include mq-up("md") {
      display: none;
    }
    &-PC {
      width: 50%;
      display: none;

      @include mq-up("md") {
        display: block;
        flex-shrink: 0;
        margin-right: 20px;
      }
    }
  }

  &__body {
    @include mq-up("md") {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
  }

  &__ttl {
    margin-bottom: 30px;
    position: relative;
    text-align: center;
    border-bottom: solid;
    border-width: 1px;
    border-color: $dViolet;
    @include mq-up("md") {
      margin-bottom: 0px;
      position: relative;
      text-align: left;
      border: 0;
    }

    &::before {
      position: absolute;
      top: -50px;
      left: 0;
      counter-increment: number 1;
      content: "Point" counter(number);
      color: $lViolet;
      font-size: 1.6em;
      font-weight: normal;
      @include mq-down("lg") {
        top: -58px;
      }
      @include mq-up("lg") {
        top: -112px;
      }
    }
  }

  &__txt {
    margin-top: 30px;
  }
  @include mq-up("md") {
    &._reverse {
      .service {
        &__inner {
          flex-direction: row-reverse;
        }
        &__thumb {
          &-PC {
            margin-right: 0px;
            margin-left: 20px;
          }
        }
      }
    }
  }
}
