.btn-contact {
  display: inline-block;
  min-width: 200px;
  padding: 1rem 4rem;
  border-radius: 33px;
  background-color: $violet;
  box-shadow: 2px 3px 0px $dViolet;
  color: $white;
  text-align: center;
  text-decoration: none;
  white-space: nowrap;
  transition: all 0.3s;

  &:hover {
    box-shadow: none;
    transform: translate(2px, 3px);
    opacity: 0.7;
  }
}

.hamburger {
  cursor: pointer;
  border-style: none;
  background-color: transparent;

  &__line {
    background-color: $dViolet;
    width: 35px;
    height: 3px;
    display: block;
    margin-bottom: 9px;
    transition: transform 0.7s;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.btn-arrow {
  display: inline-block;
  width: 100px;
  // padding: 10px 30px 10px 20px;
  text-align: center;
  color: $violet;
  margin: 5px;
  cursor: pointer;
  position: relative;

  &::after {
    content: '';
    display: inline-block;
    position: absolute;
    top: 50%;
    right: 10px;
    width: 20px;
    height: 5px;
    border: none;
    border-right: 2px solid $violet;
    border-bottom: 1px solid $violet;
    // transform: translateY(-50%);
    transform: skew(45deg);
    transition: 0.3s;
  }
  &:hover::after {
    right: -5px;
    width: 30px;
  }
}
