.y-line {
  background: linear-gradient(transparent 70%, $yellow 70%);
}

.underline {
  border-bottom: solid 1px $dViolet;
}

.brackets {
  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0.4em;
    background-image: url(../../../img/brackets_before.svg);
    background-repeat: no-repeat;
    background-size: contain;
    display: inline-block;
    width: 40px;
    height: 40px;

    @include mq-range('sm') {
      width: 20px;
      height: 20px;
    }
  }
  &::after {
    content: '';
    position: absolute;
    bottom: 0;
    right: 0.2em;
    background-image: url(../../../img/brackets_after.svg);
    background-repeat: no-repeat;
    background-size: contain;
    display: inline-block;
    width: 40px;
    height: 40px;

    @include mq-range('sm') {
      width: 20px;
      height: 20px;
      right: 0;
    }
  }
}
