/*----------------------------------------
	base
----------------------------------------*/
body {
  font-family: 'dinosaur', 'yu-gothic-pr6n', sans-serif;
  box-sizing: border-box;
  line-height: 1.7;
  letter-spacing: 0.06em;
  counter-reset: number-sp;
}

main {
  overflow: hidden;
}
li {
  list-style-type: none;
}

a {
  color: $violet;
  text-decoration: none;
  font-size: 15px;
}

button {
  appearance: none;
  border: 0;
}

img {
  max-width: 100%;
  height: auto;
  border: 0;
  vertical-align: top;
}

p,
h1,
h3 {
  color: $dViolet;
}

h2,
h3,
li {
  text-transform: capitalize;
}

h2 {
  color: $violet;
  position: relative;
  font-size: 1.5em;
  line-height: 1.5;

  &::before {
    position: absolute;
    top: -30px;
    content: url(../../../img/roof.svg);
  }
  &::after {
    position: absolute;
    bottom: -5px;
    left: 0px;
    content: url(../../../img/line.svg);
  }
}

.container {
  max-width: 1090px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
}

section + section {
  margin-top: 130px;
}
